body{background-color: aquamarine; margin: 0px;}

header{text-align: center; background-color: darkblue; color: white; padding: 2px; }

main{padding: 20px;}

/*section{background-color: white; margin: auto; width: 750px; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568); padding: 15px;}

section p{text-align: justify; text-indent: 12px;}
section h1{text-align: center; margin: 0px;}*/




footer{padding: 2px; background-color: darkblue; color: white; text-align: center;}
footer a{color: white;}
    

.footer {position: fixed; left: 0; bottom: 0; width: 100%;}
    